[submodule "app/+QSPViewerNew/+Widgets/AdvLogger"]
	path = app/+QSPViewerNew/+Widgets/AdvLogger
	url = https://github.com/mathworks/advanced-logger
[submodule "GUI_Layout_Toolbox_2"]
	path = GUI_Layout_Toolbox_2
	url = git@github.com:djmsampson/layout2.git
